/* Importaciones de Familias Tipograficas */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


/* Selector Universal */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Se come el contenido achicando la caja */
    /* box-sizing: content-box; <<<<==== Esta hace que agrande la caja Original */
}

/* Todos los estilos que coloquemos en HTML seran heredables */
html{
    font-family: 'Inter', sans-serif;
    font-size: 62.5%; /* Esto quiere decir que estoy seteando: ( 16px === 1em ) Seteado a [ 10px === 1em ] */
    color: #111111;
}

/* Decoracion de Enlaces */
a {
    text-decoration: none;
    font-size: 2em;
    font-family: inherit; /* Simepre tomara la Tipografia Heredado "Raleway" */
    color: inherit; /* Simepre tomara el Color Heredado */
}

header, footer {
    font-family: 'Raleway', sans-serif;
    color: beige;
}

/* Decoracion de Listas Ordenadas y Desordenadas */
ul, ol{
    list-style-type: none;
}

/* Decoracion de los Parrafos */
p {
    font-size: 1.8em;
}

/* Medidas del Contenedor Principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
}